.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.container-logo {
  width: 10rem;
  height: 10rem;
  animation: glow-and-scale 4s ease-in-out infinite;
  border-radius: 50%;
  filter: drop-shadow(0 20px 40px rgb(181, 255, 251));
}

@keyframes glow-and-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}